body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#file{
    background: lightblue;
    border: 2px solid blue;
    padding: 5px;
    border-radius: 5px;
    color: blue;
    font-weight: 700;
}

.file-label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-input {
    display: none;
}

.file-label:hover {
    background-color: #2980b9;
}

.upload-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #2ecc71;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-btn:hover {
    background-color: #27ae60;
}
